<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowerServlet</servlet-name>
        <servlet-class>com.servlets.FollowerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnfollowServlet</servlet-name>
        <servlet-class>com.servlets.UnfollowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.servlets.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.servlets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.servlets.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeServlet</servlet-name>
        <servlet-class>com.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniqueUsernameServlet</servlet-name>
        <servlet-class>com.servlets.UniqueUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>com.servlets.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostServlet</servlet-name>
        <servlet-class>com.servlets.UpdatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>com.servlets.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowerServlet</servlet-name>
        <url-pattern>/Follower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnfollowServlet</servlet-name>
        <url-pattern>/Unfollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeServlet</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniqueUsernameServlet</servlet-name>
        <url-pattern>/UniqueUsername</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-class>com.helpers.AuthFilter</filter-class>
        <filter-name>AuthFilter</filter-name>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Profile.jsp</url-pattern>
        <url-pattern>/Home.jsp</url-pattern>
        <url-pattern>/Upload.jsp</url-pattern>
        <url-pattern>/Search.jsp</url-pattern>
        <url-pattern>/Notifications.jsp</url-pattern>
        <url-pattern>/Messages.jsp</url-pattern>
        <url-pattern>/Followers.jsp</url-pattern>
        <url-pattern>/Followings.jsp</url-pattern>
        <url-pattern>/EditProfile.jsp</url-pattern>
        <url-pattern>/Chats.jsp</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostServlet</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
